{% extends "stat.html" %}
{% block start %}
{% load static %}

<body>
    <section class="hero">
        <div class="container">
            <h1>Real-Time Ship Tracking & <br> Oil Spill Detection</h1>
            <p style="color: white;">Monitoring the seas to ensure efficient operations and environmental safety. Stay updated with ship locations and potential oil spill alerts.<br>
            Our platform provides real-time tracking of ships across the globe. You can visualize live ship positions and monitor their routes with accuracy.<br>
            With our advanced satellite-based monitoring, we help detect and respond to potential oil spills before they cause major environmental damage.</p>

            </div>
    </section>

{% endblock %}
