<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Sparrow</title>
    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqydsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <img src="{% static 'icon.png' %}">
            <div class="header-left">
                <a href="#" class="logo">Hi, {{ user.username }}</a>
            </div>
            <br>
            <div class="header-right">
                
                <span id="timestamp"></span>
                <a href="{% url 'home' %}">AIS DATA</a>
                <a href="home/">OIL_SPILLS</a>
                <a href="{% url 'logout' %}">LOGOUT</a>
                
            </div>
        </div>
    </header>
    {% block start %}
    {% endblock %}
    <footer>
        <div class="container">
            <p>&copy; 2024 Jack Sparrow . All rights reserved.</p>
        </div>
    </footer>

    <script>
        function AIS() {
            window.location.href = "http://127.0.0.1:8000/"; 
        }
        function updateTimestamp() {
            const timestampElement = document.getElementById('timestamp');
            const now = new Date();
            const date = now.toLocaleDateString();
            const time = now.toLocaleTimeString();
            timestampElement.textContent = `Date: ${date} | Time: ${time}`;
        }

        updateTimestamp();
        setInterval(updateTimestamp, 1000); // update every second
    </script>
</body>
</html>
